/* || CSS RESET */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

/* || GENERAL STYLES */
body {
  background-color: #dad7cd !important;
}

/* || LOADER STYLES */
.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
}

/* || HEADER STYLES */
header {
  margin: auto;
  align-items: center;
}
header > form {
  margin: 0.5rem 0 0.5rem 0;
}

/* || GITHUB USER STYLES */
.userProfile {
  margin: auto;
  background-color: #a3b18a;
}
.img-container img {
  border: none;
  border-radius: 50%;
  align-items: center;
  width: 150px;
}
.user-details h2 {
  margin-top: 1rem;
}
.user-details a {
  margin-right: 2rem;
}

/* || REPOSITORIES STYLES */
.result-container {
  margin: auto;
}
.repo-col {
  background-color: #588157;
}
.badge-color {
  background-color: #a3b18a;
  color: black !important;
}

/* || PAGINATION STYLES */
.pagination button {
  background-color: #588157;
  color: #dad7cd;
  border: none;
}
.pagination button:hover {
  background-color: #a3b18a;
  color: #344e41;
}

/* || STYLES FOR MOBILE DEVICES */
@media screen and (max-width: 768px) {
  header,
  .userProfile,
  .result-container {
    max-width: 100%;
    margin: 0;
  }
  header > h2 {
    font-size: large;
  }
  header {
    align-items: center;
  }
  .img-container img {
    width: 100px;
    height: 100%;
  }
  .user-details {
    margin-left: 0;
    margin-top: 0%;
  }
  .user-details a {
    display: block;
  }
}
